<div class="list-body-container">
  <nav class="navbar navbar-fixed-top cl-blue-navbar">
    <div class="navbar-header">
      <a routerLink="/user/{{userId}}" class="navbar-link cl-text-white">
        <fa-icon [icon]="faChevronLeft"></fa-icon>
      </a>

      <a class="cl-text-white navbar-brand cl-text-bold navbar-header-text" href="#">
        Websites
      </a>
      <a routerLink="/user/{{userId}}/website/new" class="navbar-link navbar-text cl-text-white cl-icon-padding pull-right">
        <span class="fas fa-plus fontawsome_icon"></span>
      </a>
    </div>
  </nav>

  <div class="container">
    <ul class="list-group cl-list-group-borderless list-group-text">
      <li *ngFor="let website of websites" class="list-group-item cl-list-item-borderless">
        <a routerLink="/user/{{userId}}/website/{{website._id}}"><fa-icon [icon]="faCog" class="pull-right"></fa-icon></a>
        <a routerLink="/user/{{userId}}/website/{{website._id}}/page">{{website.name}}</a>
      </li>
    </ul>
  </div>

  <nav class="navbar navbar-fixed-bottom cl-blue-navbar">
    <div class="navbar-footer">
      <a routerLink="/user/{{userId}}" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
        <fa-icon [icon]="faUser"></fa-icon>
      </a>
    </div>
  </nav>
</div>
