<div class="list-body-container">
  <nav class="navbar navbar-default navbar-fixed-top navbar-background">
    <div class="navbar-header">

      <div class="navbar-text pull-left">
        <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget" class="cl-text-black cl-icon-padding">
            <span class="fas fa-chevron-left fontawsome_icon">
            </span>
        </a>
      </div>
      <div class="navbar-text pull-right">
        <a routerLink="" (click)="update()" class="cl-icon-padding cl-text-black">
            <span class="fas fa-check fontawsome_icon">
            </span>
        </a>
      </div>
      <a class="navbar-brand cl-text-black cl-text-bold" href="#">
        Widget Edit
      </a>
    </div>
  </nav>

  <div class="container website-new-content">
    <form #f="ngForm" class="form-label">

      <div class="form-group">
        <label for="html-name">Name</label>
        <input [(ngModel)]="htmlName" type="text" id="html-name" name="htmlName" placeholder="Name" class="form-control" required>
      </div>
      <div class="form-group">
        <quill-editor [(ngModel)]="htmlText" name="htmlText"
                      [options]="editorOptions"
                      (blur)="onEditorBlured($event)"
                      (focus)="onEditorFocused($event)"
                      (ready)="onEditorCreated($event)"
                      (change)="onContentChanged($event)"></quill-editor>
      </div>
      <div class="form-group">
        <a class="btn btn-danger btn-block cl-text-white" routerLink="" (click)="delete()">Delete</a>
      </div>
    </form>
  </div>

  <nav class="navbar navbar-default navbar-fixed-bottom navbar-background">
    <div class="navbar-header">
      <div class="pull-right navbar-text">

        <a routerLink="/user/{{userId}}" class="cl-icon-padding list-group-text">
          <span class="fas fa-user fontawsome_icon"></span>
        </a>

      </div>
    </div>
  </nav>
</div>
