<nav class="navbar cl-blue-navbar navbar-fixed-top">
  <div class="container-fluid">

    <a class="navbar-brand cl-text-white" routerLink="">Profile</a>
    <a routerLink="/user/{{userId}}" (click)="updateUser()" class=" cl-blue-navbar navbar-text pull-right cl-text-white">
      <span class="fas fa-check fontawsome_icon"></span>
    </a>

  </div>
</nav>


<div class="container">
  <h1>Profile</h1>

  <div class="form-group formgroup-margin">
    <label for="username"><b>Username</b></label>
    <input [(ngModel)]="username" type="text" class="form-control" id="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="email"><b>Email address</b></label>
    <input [(ngModel)]="userEmail" type="email" class="form-control" id="email" placeholder="alice@wonderland.com">
  </div>
  <div class="form-group">
    <label for="first-name"><b>First Name</b></label>
    <input [(ngModel)]="userFirstName" type="text" class="form-control" id="first-name" placeholder="Alice">
  </div>
  <div class="form-group">
    <label for="last-name"><b>Last Name</b></label>
    <input [(ngModel)]="userLastName" type="text" class="form-control" id="last-name" placeholder="Wonderland">
  </div>

  <a class="btn btn-primary btn-block cl-blue-navbar" routerLink="/user/{{userId}}/website">Websites</a>
  <a class="btn btn-dark btn-block" (click)="deleteUser()">Delete</a>
  <a class="btn btn-danger btn-block" routerLink="/login">Logout</a>
</div>

<nav class="navbar navbar-fixed-bottom cl-blue-navbar">
  <div class="navbar-footer">
    <a routerLink="/user/{{userId}}" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
      <span class="fas fa-user fontawsome_icon"></span>
    </a>
  </div>
</nav>
