<router-outlet></router-outlet>
<!--<div class="container home-container">-->

    <!--<h1 class="cl-blue-navbar head-text">Assignment Home Page</h1>-->

    <!--<div class="list-container">-->

        <!--<ul><a [routerLink]="['/login']"> <strong>login</strong> </a></ul>-->

        <!--<ul><a [routerLink]="['/user/:uid/website/:wid/page/:pid']"> <strong>page-edit</strong> </a></ul>-->

        <!--<ul><a [routerLink]="['/user/:uid/website/:wid/page']"> <strong>page-list</strong> </a></ul>-->

        <!--<ul><a [routerLink]="['/user/:uid/website/:wid/page/new']"> <strong>page-new</strong> </a></ul>-->

        <!--<ul><a [routerLink]="['user/:uid']"> <strong>profile</strong> </a></ul>-->

        <!--<ul><a [routerLink]="['/register']"> <strong>register</strong> </a></ul>-->

        <!--<ul><a [routerLink]="['/user/:uid/website/:wid']"> <strong>website-edit</strong> </a></ul>-->

        <!--<ul><a [routerLink]="['/user/:uid/website']"> <strong>website-list</strong> </a></ul>-->

        <!--<ul><a [routerLink]="['/user/:uid/website/new']"> <strong>website-new</strong> </a></ul>-->

        <!--<ul><a [routerLink]="['user/:uid/website/:wid/page/:pid/widget/chooser']"> <strong>widget-chooser</strong> </a></ul>-->

        <!--<ul><a [routerLink]="['user/:uid/website/:wid/page/:pid/widget/:wgid/heading']"> <strong>widget-heading</strong> </a></ul>-->

        <!--<ul><a [routerLink]="['user/:uid/website/:wid/page/:pid/widget/:wgid/image']"> <strong>widget-image</strong> </a></ul>-->

        <!--<ul><a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget']"> <strong>widget-list</strong> </a></ul>-->

        <!--<ul><a [routerLink]="['user/:uid/website/:wid/page/:pid/widget/:wgid/youtube']"> <strong>widget-youtube</strong></a></ul>-->

        <!--<ul><a [routerLink]="['/user/:uid/website/:wid/page/:pid']"> <strong>test</strong> </a></ul>-->


    <!--</div>-->
<!--</div>-->
