<div class="list-body-container">
  <nav class="navbar navbar-default navbar-fixed-top navbar-background">
    <div class="navbar-header">

      <div class="navbar-text pull-left">
        <a routerLink="/user/{{userId}}/website/{{websiteId}}/page" class="cl-text-black cl-icon-padding">
            <span class="fas fa-chevron-left fontawsome_icon">
            </span>
        </a>
      </div>
      <div class="navbar-text pull-right">
        <a routerLink="" (click)="addPage()" class="cl-icon-padding cl-text-black">
            <span class="fas fa-check fontawsome_icon">
            </span>
        </a>
      </div>
      <a class="navbar-brand cl-text-black cl-text-bold" href="#">
        New Page
      </a>
    </div>
  </nav>

  <div class="container">
    <form #f="ngForm" class="form-label">

      <div class="form-group">
        <label for="page-name">Page Name</label>
        <input [(ngModel)]="pageName" type="text" id="page-name" name="pageName" placeholder="page name" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="page-title">Page Title</label>
        <input [(ngModel)]="pageDes" type="text" id="page-title" rows="5" name="pageTitle" placeholder="page title" class="form-control">
      </div>
    </form>
  </div>

  <nav class="navbar navbar-default navbar-fixed-bottom navbar-background">
    <div class="navbar-footer">
      <a routerLink="/user/{{userId}}" class="navbar-link navbar-text pull-right list-group-text cl-icon-padding">
        <span class="fas fa-user fontawsome_icon"></span>
      </a>
    </div>
  </nav>

</div>
